page {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

spacer[flex] {
    flex-grow: 1;
}


.brief-button {
    -moz-appearance: none;
    -moz-box-flex: 0;
    flex: none;
    -moz-user-focus: none;
    background: none;
    border: none;
    margin: 0;
    min-width: 0;
}

.brief-button .button-icon {
    margin: 0;
}

.brief-button .button-text {
    margin: 0 !important;
}



/* =========== Sidebar =========== */

#sidebar {
    background-color: #f2f2f2;
}

#sidebar-splitter,
#tag-list-splitter {
    -moz-appearance: none;
    background: none;
    border-left: 3px solid #f2f2f2;
    border-right: 1px solid #d6d6d6;
    min-width: 0;
}

#sidebar-splitter:hover,
#tag-list-splitter:hover {
    border-right-color: #ffb754;
}

#reveal-sidebar-button {
    list-style-image: url(reveal-sidebar.png);
    -moz-image-region: rect(0px, 12px, 20px, 0px);
    padding: 0 2px 0 2px;
    border-right: 1px solid #d6d6d6;
}

#reveal-sidebar-button:hover {
    -moz-image-region: rect(20px, 12px, 40px, 0px);
    border-right-color: #ffb754;
}



/* =========== Sidebar toolbar =========== */

#sidebar-top {
    border-bottom: 1px solid #d6d6d6;
}

.sidebar-button-box {
    -moz-box-flex: 1;
    -moz-box-pack: center;
    min-width: 5em;
    overflow: hidden;
}

.sidebar-button {
    padding: 10px 9px 6px;
    font-size: 13px;
    color: #454545;
}
.sidebar-button:hover {
    color: #ff6800;
}
.sidebar-button .button-icon {
    display: none;
}
.sidebar-button .button-text {
    font-weight: bold;
}


#options-dropdown-button {
    -moz-box-pack: center;
}

#options-dropdown-button .button-menu-dropmarker {
    -moz-appearance: none !important;
    list-style-image: url(icons/dropmarker.png);
    -moz-image-region: rect(0, 7px, 4px, 0);
    margin-left: 5px;
    min-width: 0;
    width: 7px;
}

#options-dropdown-button:hover .button-menu-dropmarker {
    -moz-image-region: rect(4px, 7px, 8px, 0);
}



#update-progress-container {
    -moz-box-pack: center;
}

#update-progress {
    -moz-appearance: none;
    -moz-box-flex: 1;
    border: none;
    height: 4px;
    margin: 0;
    min-height: 0;
    min-width: 0;
    opacity: 0;
    transition: opacity 500ms;
}

#update-progress[show] {
    opacity: 1;
}

#update-progress > .progress-bar {
    -moz-appearance: none;
    background: #ff6800;
}



/* =========== Rules applicable to all lists =========== */

#view-list > richlistitem[selected="true"],
#view-list:focus > richlistitem[selected="true"],
.tag-list-item[selected="true"],
richtreefolder[selected="true"] > .folder-title-container,
richtreeitem[selected="true"] {
    border-color: #ffc9a6;
    background-color: #fcd7bd;
}

#view-list > richlistitem:hover:not([selected="true"]),
#view-list:focus > richlistitem:hover:not([selected="true"]),
.tag-list-item:hover:not([selected="true"]),
richtreefolder:not([selected="true"]) > .folder-title-container:hover,
richtreeitem:hover:not([selected="true"]) {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
}

richtreeitem:not(.unread) > .unread-count,
richtreefolder:not(.unread) > .folder-title-container > .unread-count,
richtreefolder[open="true"] > .folder-title-container > .unread-count,
.tag-list-item:not(.unread) .unread-count {
    visibility: hidden;
}



/* =========== View list richlistbox =========== */

#view-list {
    -moz-appearance: none;
    background-color: transparent;
    margin: 7px 0 0 5px;
}

#view-list > richlistitem {
    padding: 3px 1px 2px 20px;
    border: 1px solid transparent; /* Placeholder for selection border */
    -moz-box-align: center;
}

#view-list > richlistitem > .view-title {
    margin: 0 4px 0 0;
    font-size: 13px;
    font-weight: bold;
    color: #454545;
}

#view-list > richlistitem:not(.unread) > .unread-count {
    display: none;
}



/* =========== Tag listbox =========== */

#tag-list {
    -moz-appearance: none;
    background-color: #f2f2f2;
    min-width: 100px;
    border: 0;
    margin: 0;
}

.tag-list-item {
    width: 150px;
    padding: 2px 1px 2px 5px;
    border: 1px solid transparent; /* Placeholder for selection border */
    font-size: 13px;
    color: #454545;
    border-radius: 0;
    list-style-image: url(chrome://brief/skin/icons/tag.png);
}

.tag-list-item > .listcell-iconic {
    display: flex;
}

.tag-list-item > .listcell-iconic > .listcell-label {
    flex: 1;
}

.tag-list-item > .listcell-iconic::after {
    content: var(--unread-count, "");
}

.tag-list-item:not(.unread) > .listcell-iconic::after {
    display: none;
}
