#feed-view-header {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 10px;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    background: #fcfcfc;
    transition: border-color 170ms;
}

#feed-view-header[border] {
    border-bottom-color: #d6d6d6;
}


/* =========== View title =========== */

#view-title-button {
    margin-top: 5px !important;
    list-style-image: url(icons/feed-settings.png);
    -moz-image-region: rect(0, 18px, 18px, 0);
    margin: 0px;
}

#view-title-button:hover {
    -moz-image-region: rect(18px, 18px, 36px, 0);
}

#view-title-button:hover:active {
    -moz-image-region: rect(36px, 18px, 54px, 0);
}

#view-title-button .button-menu-dropmarker {
    -moz-appearance: none !important;
    list-style-image: url(icons/view-title-dropmarker.png);
    -moz-image-region: rect(0, 11px, 6px, 0);
    margin-left: 4px;
}

#view-title-button:hover .button-menu-dropmarker {
    -moz-image-region: rect(6px, 11px, 12px, 0);
}

#view-title-button:not([contextOptions]) {
    display: none;
}

#view-title-label {
    margin: 7px 10px 0 8px;
    color: #606b78;
    font-size: 22px;
    font-weight: bold;
    flex-shrink: 1;
    min-width: 5em;
}



/* =========== View type buttons =========== */

#feed-view-header .brief-button {
    margin: 0 5px;
}

#feed-view-header .brief-button:first-child {
    margin-left: 0;
}

.button-spacer {
    max-width: 50px;
    min-width: 20px;
}

.view-button,
#mark-view-read {
    -moz-image-region: rect(0px, 22px, 22px, 0px);
}

.view-button:hover,
#mark-view-read:hover {
    -moz-image-region: rect(22px, 22px, 44px, 0px);
}

.view-button:hover:active,
#mark-view-read:hover:active,
.view-button[checked] {
    -moz-image-region: rect(44px, 22px, 66px, 0px);
}

#headlines-checkbox {
    list-style-image: url(icons/view-headlines.png);
}

#full-view-checkbox {
    list-style-image: url(icons/view-full-items.png);
}



/* =========== View filter buttons =========== */

.filter-button {
    -moz-image-region: rect(0px, 23px, 23px, 0px);
}

.filter-button:hover {
    -moz-image-region: rect(23px, 23px, 46px, 0px);
}

.filter-button:hover:active,
.filter-button[checked] {
    -moz-image-region: rect(46px, 23px, 69px, 0px);
}


#show-all-entries-checkbox {
    list-style-image: url(icons/show-all-items.png);
}

#filter-unread-checkbox {
    list-style-image: url(icons/show-unread-items.png);
}

#filter-starred-checkbox {
    list-style-image: url(icons/show-starred-items.png);
}

#mark-view-read {
    list-style-image: url(icons/mark-view-read.png);
}



#searchbar {
    min-width: 75px;
    width: 150px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 5px 0 5px 0;
    padding: 0 3px 0 5px;
    border: 1px solid #9dabb8;
    border-radius: 4px;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}


#searchbar .textbox-input {
    color: #4a6278;
    font-style: normal;
}
